.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    margin-top: 30px
};

.grid-box{
    border: 1px solid black;
};
